.container-graphic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    justify-content: center;
}

.box-graphic {
    text-align: center;
    justify-content: center;
}

.chart {
    width: 300px;
    height: 210px;
    margin: auto;
    outline: none;
}

.chartjs-legend .legend-point {
    width: 5px;
    height: 5px;
    border-radius: 90%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}