body {
    font-family: 'Abel', sans-serif;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 225px;
    background-color: #f7f7f7;
    padding: 20px;
    height: 93vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.sidebar h1 {
    color: #FFA75E;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    margin-inline: auto;
}

.nav-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 15px 7px;
    width: 142%;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #e0e0e0;
    border-radius: 8px;
}

.nav-links a i {
    margin-right: 10px;
    font-size: 20px;
}

.weather-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 85%;
}

.weather-card p {
    margin: 5px 0;
    font-size: 15px;
    color: #666;
}

.weather-card .destination {
    font-size: 22px;
    font-weight: bold;
    color: #2C3E50;
    font-family: 'Bebas Neue', sans-serif;
}

.weather-card .button {
    background-color: #f2f2f2;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

.weather-card .button:hover {
    background-color: #e0e0e0;
}

.weather-card .dot {
    color: red;
    font-size: 15px;
    margin-right: 5px;
}

.folder-structure {
    display: flex;
    align-items: center;
    background-color: #d6e6ef;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin-top: -90px;
    cursor: pointer;
}

.folder {
    background-color: #d0c7ff;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    text-decoration: none;
    font-weight: bold;
}

.folder:hover {
    background-color: #f2f2f2;
}

.folder:nth-child(1) {
    background-color: #87c6a7;
}

.folder:nth-child(2) {
    background-color: #7E3FE1;
}

.folder:nth-child(3) {
    background-color: #FFA75E;
}

.folder:nth-child(4) {
    background-color: #3E9CE0;
}

.folder:nth-child(5) {
    background-color: #87c6a7;
}

.folder:nth-child(6) {
    background-color: #7E3FE1;
}

.folder:nth-child(7) {
    background-color: #FFA75E;
}

.folder:nth-child(8) {
    background-color: #3E9CE0;
}

.folder:nth-child(9) {
    background-color: #87c6a7;
}

.folder:nth-child(10) {
    background-color: #7E3FE1;
}

.folder:nth-child(11) {
    background-color: #FFA75E;
}

.folder:nth-child(12) {
    background-color: #3E9CE0;
}

.folder.selected {
    background-color: #ffffff;
    color: #333;
}


.tela {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #d6e6ef;
    padding: 0px;
}

.mapa {
    background-color: #d6e6ef;
    height: 200px;
}


.graficos {
    background-color: #ffffff;
    flex: 1;
    width: 100%;
}

.titulo {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 65px;
    color: #FFFFFF;
    margin-left: 250px;
    margin-top: 25px;
    cursor: pointer;
}